body{
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: white;
}

h2{
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}

.game-intro{
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    margin: 50px;
}

.button{
    display: flex; 
    justify-content: center;
    align-items: center;
}

#strt-button{
    padding: 10px 50px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: blue;
    color: white;
    border: ridge 3px rgb(70, 70, 70);
    border-radius: 10px;
    margin: 30px;
}



 